node_modules/
public/js

/target
/checkouts
/src/gen
.clj-kondo/
.cpcache/
.lsp/
.clerk/
.rebl/
.dir-locals.el
/out


*.*#
*.*~
pom.xml
pom.xml.asc
*.iml
*.jar
*.log
.shadow-cljs
.idea
.lein-*
.nrepl-*
.DS_Store

.hgignore
.hg/
/src/main/pbranes/graphics/geometry/
/.#README.md
public/model/
public/images/
resources/
