
{:paths ["src/clj" "resources"]
 :deps
 {org.clojure/clojure {:mvn/version "1.11.0"}
  metosin/reitit {:mvn/version "0.5.18"}
  ring/ring-jetty-adapter {:mvn/version "1.9.3"}
  ring-cors/ring-cors {:mvn/version "0.1.13"}
  ring/ring-core {:mvn/version "1.11.0-RC1"}
  ring/ring-devel {:mvn/version "1.11.0-RC1"}}}
